<h4>
    Online uživatelé
</h4>
<div n:snippet="sidebar-snippet">
        <ul>
            <li n:foreach="$members as $member">
                {$member->name}
            </li>
        </ul>

        <div n:if="!$members">
            Žádný uživatel není online
        </div>
</div>


