{block #content}
<h1 n:block=title>Přihlášení uživatele</h1>

{control signInForm}
<br />
nebo se můžete přihlásit přes sociální sítě
<br />
<br />
<div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>